@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: 'Varela Round', sans-serif;
 box-sizing: border-box;
}


/*----------- product section ------------*/

section.product{
 /* display: flex;
 width: 100%;
  */
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 padding: 30px 100px;
 background: #F3F5F9;
}

section.product .item{
 border: 1px solid #e0e0e0;
 margin: 10px 10px;
 transition: 0.5s;
 background: #F3F5F9;
 border-radius: 10px;
}

section.product .item:hover{
 transform: scale(1.1);
 transition: 0.5s;
 background: rgb(173, 139, 139);
}

section.product .item img{
 min-height: 95%;
 max-width: 100%;
 object-fit: cover;
}

section.product .item p{
 padding-bottom: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 12px;
}